#### 1. Import pandas library

In [61]:
import pandas as pd

#### 2. Load data (users.csv, posts.csv)

In [62]:
df_users = pd.read_csv('users.csv')
df_posts  = pd.read_csv('posts.csv')

#### 3. Rename id column to user_id

In [63]:
df_users.rename(columns = {'id':'user_id'},inplace=True)

#### 4. Rename id column to post_id and owner_user_id to user_id

In [64]:
df_posts.rename(columns = {'id':'post_id', 'owner_user_id':'user_id'},inplace=True)

#### 5. Define new dataframes for users and posts with the following selected columns:
    **users columns**: user_id, reputation,views,up_votes,down_votes
    **posts columns**: post_id, score,user_id,view_count,comment_count

In [65]:
df_new_users = df_users[['user_id', 'reputation','views','up_votes','down_votes']]

In [66]:
df_new_posts = df_posts[['post_id', 'score','user_id','view_count','comment_count']]

#### 6. Merge both dataframes, users and posts. 
You will need to make a [merge](https://pandas.pydata.org/pandas-docs/stable/generated/pandas.DataFrame.merge.html) of posts and users dataframes.

In [73]:
df_merged = pd.merge(df_new_users, df_new_posts, how='inner', on='user_id' )

#### 7. How many missing values do you have in your merged dataframe?

In [80]:
df_merged.isna().any() #There are no missing values

user_id          False
reputation       False
views            False
up_votes         False
down_votes       False
post_id          False
score            False
view_count       False
comment_count    False
dtype: bool

#### Bonus: Identify extreme values in your merged dataframe, create a dataframe called outliers with the same columns as our data set and calculate the bounds. The values of the outliers dataframe will be the values of the merged_df that fall outside that bounds. You will need to save your outliers dataframe to a csv file on your-code folder. Hint: post_id cannot have outliers!

In [174]:
#outliers are data points that fall below Q1-1.5*IQR or above Q3+1.5*IQR

In [175]:
outliers = df_merged.copy()
outliers.drop(columns=['user_id','post_id'],inplace=True)
outliers.describe()

,reputation,views,up_votes,down_votes,score,view_count,comment_count
count,1065.000000,1065.000000,1065.000000,1065.000000,1065.000000,1065.000000,1065.000000
mean,7251.176526,615.245070,397.688263,49.415023,0.123944,15.606573,0.926761
std,24021.612286,1497.407529,747.628862,177.308773,0.578141,3.711159,1.627503
min,1.000000,0.000000,0.000000,0.000000,-7.000000,3.000000,0.000000
25%,246.000000,39.000000,15.000000,0.000000,0.000000,13.000000,0.000000
50%,1145.000000,145.000000,96.000000,3.000000,0.000000,17.000000,0.000000
75%,5206.000000,496.000000,375.000000,20.000000,0.000000,19.000000,1.000000
max,287170.000000,23103.000000,7886.000000,2692.000000,3.000000,20.000000,11.000000

In [176]:
df_stats = outliers.describe()[['reputation', 'views', 'up_votes', 'down_votes','score', 'view_count', 'comment_count']]

In [177]:
df_upper_bounds = df_stats.loc['75%',:] + (df_stats.loc['75%',:] - df_stats.loc['25%',:]) * 1.5  #Q3+1.5*IQR

In [213]:
outside_bounds = pd.DataFrame(0, index= outliers.index, columns= outliers.columns)

for columns in outliers:
    outside_bounds[columns] = outliers[columns][outliers[columns] > df_upper_bounds[columns]]

In [211]:
outside_bounds['reputation'].dropna(axis=0, how={'any',all})

30      58371.0
33      21815.0
44      13685.0
95     244872.0
96     244872.0
         ...
956     32515.0
960     24264.0
963     13009.0
975     33292.0
978     13415.0
Name: reputation, Length: 122, dtype: float64

In [212]:
outside_bounds.to_csv('outside_bounds.csv', sep=',', index=False)

In [ ]:
#outliers[outliers['reputation'] > outliers['reputation'].mean() + 3 * outliers['reputation'].std()]