## Global Historical Climatology Network Dataset
Variables are stored in both rows and columns
This dataset represents the daily weather records for a weather station (MX17004) in Mexico for five months in 2010.

In [14]:
import pandas as pd
import datetime as dt
weather = pd.read_csv('weather-raw.csv')

In [15]:
w = weather.melt(id_vars=['id','year','month','element'], var_name='day',value_name='temp')
w.head()

        id  year  month element day  temp
0  MX17004  2010      1    tmax  d1   NaN
1  MX17004  2010      1    tmin  d1   NaN
2  MX17004  2010      2    tmax  d1   NaN
3  MX17004  2010      2    tmin  d1   NaN
4  MX17004  2010      3    tmax  d1   NaN

In [16]:
w2 = w.pivot_table(index=['id','year','month','day'], values='temp', columns='element').reset_index().assign(day= w.day.apply(lambda x: x.replace('d','')).astype('int'))

In [17]:
w2['date'] = pd.to_datetime(w2.apply(lambda row: dt.date(row['year'], row['month'], row['day']), axis=1))

In [27]:
w2.set_index('date', inplace=True)

In [28]:
w2

element          id  year  month  day  tmax  tmin
date
2010-01-01  MX17004  2010      1    1  27.8  14.5
2010-02-01  MX17004  2010      2    1  29.7  13.4
2010-02-01  MX17004  2010      2    1  27.3  14.4
2010-02-01  MX17004  2010      2    1  29.9  10.7
2010-02-01  MX17004  2010      2    1  24.1  14.4
2010-03-01  MX17004  2010      3    1  34.5  16.8
2010-03-01  MX17004  2010      3    1  31.1  17.6
2010-03-01  MX17004  2010      3    1  32.1  14.2
2010-04-01  MX17004  2010      4    1  36.3  16.7
2010-05-01  MX17004  2010      5    1  33.2  18.2
2010-06-01  MX17004  2010      6    1  28.0  17.5
2010-06-01  MX17004  2010      6    1  30.1  18.0
2010-07-01  MX17004  2010      7    1  28.6  17.5
2010-07-01  MX17004  2010      7    1  29.9  16.5
2010-08-01  MX17004  2010      8    1  26.4  15.0
2010-08-01  MX17004  2010      8    1  29.6  15.8
2010-08-01  MX17004  2010      8    1  28.0  15.3
2010-08-01  MX17004  2010      8    1  29.8  16.5
2010-08-01  MX17004  2010      8    1  29.7  15.6
2010-08-01  MX17004  2010      8    1  25.4  15.4
2010-08-01  MX17004  2010      8    1  29.0  17.3
2010-10-01  MX17004  2010     10    1  27.0  14.0
2010-10-02  MX17004  2010     10    2  29.5  13.0
2010-10-02  MX17004  2010     10    2  28.7  10.5
2010-10-02  MX17004  2010     10    2  31.2  15.0
2010-10-02  MX17004  2010     10    2  28.1  12.9
2010-11-02  MX17004  2010     11    2  31.3  16.3
2010-11-02  MX17004  2010     11    2  26.3   7.9
2010-11-02  MX17004  2010     11    2  27.7  14.2
2010-11-02  MX17004  2010     11    2  28.1  12.1
2010-11-02  MX17004  2010     11    2  27.2  12.0
2010-12-02  MX17004  2010     12    2  29.9  13.8
2010-12-02  MX17004  2010     12    2  27.8  10.5